In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Для работы с матрицами
from scipy.sparse import csr_matrix

# Матричная факторизация
from implicit.als import AlternatingLeastSquares
from implicit.nearest_neighbours import ItemItemRecommender  # нужен для одного трюка
from implicit.nearest_neighbours import bm25_weight, tfidf_weight

# Функции из 1-ого вебинара
import os, sys

In [2]:
#загрузим данные о покупках
global data
global needed_goods

data = pd.read_csv('transaction_data.csv')

data.columns = [col.lower() for col in data.columns]
data.rename(columns={'household_key': 'user_id',
                    'product_id': 'item_id'},
           inplace=True)


test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

data_train.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [3]:
#загрузим данные о продуктах

item_features = pd.read_csv('product.csv')
item_features.columns = [col.lower() for col in item_features.columns]
item_features.rename(columns={'product_id': 'item_id'}, inplace=True)

item_features.head(2)

,item_id,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,

In [4]:
#фильтрация товаров


def prefilter_items():
    # Уберем самые популярные товары (их и так купят) - В КУРСОВОМ ПОЛЬЗОВАТЬ ТОЛЬКО ЕСЛИ РАСТЕТ СКОР
    global data
    global needed_goods
    
    popularity = data_train.groupby('item_id')['user_id'].nunique().reset_index() #ЗДЕСЬ НЕПРАВИЛЬНО - id товара ДЕЛЯТСЯ, А НЕ ДОЛЖНЫ
    popularity.rename(columns={'user_id': 'share_unique_users'}, inplace=True)    
    popularity.share_unique_users = popularity.share_unique_users / data_train['user_id'].nunique() 
    
    top_popular = popularity[popularity['share_unique_users'] > 0.5].item_id.tolist()
    data = data[~data['item_id'].isin(top_popular)]
    
    # Уберем самые НЕ популярные товары (их и так НЕ купят)
    top_notpopular = popularity[popularity['share_unique_users'] < 0.01].item_id.tolist()
    data = data[~data['item_id'].isin(top_notpopular)]
    
    # Уберем товары, которые не продавались за последние 12 месяцев
    
    # Уберем не интересные для рекоммендаций категории (department)
    
    # Уберем слишком дешевые товары (на них не заработаем). 1 покупка из рассылок стоит 60 руб. 
    
    # Уберем слишком дорогие товарыs
    
    # ...

In [5]:
#Подготавливаем матрицу user-item и обучаем модель ALS


#УБИРАЕМ НЕПОПУЛЯРНЫЕ ТОВАРЫ
prefilter_items()

#пересоздаем выборки по новой
data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробоват другие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

user_item_matrix.head(3)

item_id,201704,397896,818980,818981,818996,819063,819112,819210,819255,819304,...,16809431,16809471,16809581,16809649,17104444,17105058,17105257,17168855,17179856,17208470
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

In [7]:
user_item_matrix = bm25_weight(user_item_matrix.T).T  # Применяется к item-user матрице !
user_item_matrix

<2487x12568 sparse matrix of type '<class 'numpy.float64'>'
	with 1021081 stored elements in COOrdinate format>

In [8]:
model = AlternatingLeastSquares(factors=44,
                                regularization=0.001,
                                iterations=20,
                                calculate_training_loss=True, 
                                use_gpu=False)

model.fit(csr_matrix(user_item_matrix).T.tocsr(),  # На вход item-user matrix
          show_progress=True)

C:\ProgramData\Anaconda3\lib\site-packages\implicit\utils.py:31: UserWarning: Intel MKL BLAS detected. Its highly recommend to set the environment variable 'export MKL_NUM_THREADS=1' to disable its internal multithreading
  warnings.warn(

  0%|          | 0/20 [00:00<?, ?it/s]

In [9]:
def get_recommendations(user, model, sparse_user_item, N=5):
    """Рекомендуем топ-N товаров"""
    
    res = [id_to_itemid[rec[0]] for rec in 
                    model.recommend(userid=userid_to_id[user], 
                                    user_items=sparse_user_item[user],   # на вход user-item matrix
                                    N=N, 
                                    filter_already_liked_items=False, 
                                    #filter_items=[itemid_to_id[999999]],  # !!! 
                                    recalculate_user=True)]
    return res

In [10]:
#проверяем модель на тестовых данных
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result.head(2)

   user_id                                             actual
0        1  [934369, 1115576, 1124029, 13115375, 13876665,...
1        3  [823704, 834117, 840244, 913785, 917816, 93870...

In [ ]:
#создаем копию матрицы user-item в виде numpy array
user_item_matrix_csr = user_item_matrix.tocsr()
del user_item_matrix #освободим память... все равно вылетает (даже на 16 Гб ОЗУ)
result['bm25'] = result['user_id'].apply(lambda x: get_recommendations(x, model, user_item_matrix_csr, N=5))