# Вебинар 5. Гибридные системы

---

# 1. LightFM

Предсказание в ALS (матричной факторизации)


$$p_{ui} = u * i^T$$

Формула в LightFM

$$ u= embed_u + f_1 * embed_{f_1} + f_2 * embed_{f_2} + ... + f_d * embeded_{f_d}$$

$embed_u$ - базовый эмбеддинг пользователя - вектор  
$embed_{f_k}$ - эмбеддинг признака k (этот эмбеддинг один и тот же для всех пользователей) - вектор  
$f_k$ - значение призника k для пользователя - число  
$b_u$ - смещение для пользователя - число

  
$$p = u * i^T + b_u + b_i$$

### Зачем нужны гибридные системы?

*Холодный старт* - ситуация, в которой с товаром/юзером в матрице мало взаимодействий

Холодный страт для товаров - обычно введение нового товара (YouTube, Lamoda, hh.ru)  
Холодный старт для юзера - к нам пришел новый юзер  

Холодного юзера/товар можно описать фичами --> мы больше о нем знаем --> он уже не такой холодный

In [1]:
!pip install lightfm

Collecting lightfm
  Downloading lightfm-1.16.tar.gz (310 kB)
     |████████████████████████████████| 310 kB 5.4 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.21.5)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.4.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from lightfm) (2.23.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.0.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (1.24.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightfm) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightfm) (1.1.0)
Building wheels for collected packages: lightfm
  Building wheel for lightfm (setup.py) ... done
  Created wheel for lightfm: filename=lightfm-1.16-cp37-cp37m-linux_x86_64.whl size=705340 sha256=57f12b835efca8cd559455dca0457ac067ea4d6fcfb5ff05846c8c71165e4575
  Stored in directory: /root/.cache/pip/wheels/f8/56/28/5772a3bd3413d65f03aa452190b00898b680b10028a1021914
Successfully built lightfm
Installing collected packages: lightfm
Successfully installed lightfm-1.16

In [ ]:
#!pip install implicit

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Матричная факторизация
#from implicit.als import AlternatingLeastSquares
#from implicit.nearest_neighbours import bm25_weight, tfidf_weight

from lightfm import LightFM
from lightfm.evaluation import precision_at_k, recall_at_k

# Функции из 1-ого вебинара
import os, sys

module_path = os.path.abspath(os.path.join(os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)
    
#from src.metrics import precision_at_k as precision_at_k_
#from src.metrics import recall_at_k as recall_at_k_
from src.utils import prefilter_items

In [4]:
import lightfm.evaluation
pr = lightfm.evaluation.precision_at_k

In [5]:
from google.colab import drive
drive.mount('/content/drive')
root = '/content/drive/My Drive/GB/RecSys/webinar_2/' # указать ссылку на свою папку с файлами на своем Гугл-диске

Mounted at /content/drive

In [6]:
data = pd.read_csv(root+'retail_train.csv')
item_features = pd.read_csv(root+'product.csv')
user_features = pd.read_csv(root+'hh_demographic.csv')

# column processing
item_features.columns = [col.lower() for col in item_features.columns]
user_features.columns = [col.lower() for col in user_features.columns]

item_features.rename(columns={'product_id': 'item_id'}, inplace=True)
user_features.rename(columns={'household_key': 'user_id'}, inplace=True)

# train test split
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

data_train.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [7]:
item_features.head(2)

,item_id,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,

In [8]:
item_features['department'].unique()

array(['GROCERY', 'MISC. TRANS.', 'PASTRY', 'DRUG GM', 'MEAT-PCKGD',
       'SEAFOOD-PCKGD', 'PRODUCE', 'NUTRITION', 'DELI', 'COSMETICS',
       'MEAT', 'FLORAL', 'TRAVEL & LEISUR', 'SEAFOOD', 'MISC SALES TRAN',
       'SALAD BAR', 'KIOSK-GAS', 'ELECT &PLUMBING', 'GRO BAKERY',
       'GM MERCH EXP', 'FROZEN GROCERY', 'COUP/STR & MFG', 'SPIRITS',
       'GARDEN CENTER', 'TOYS', 'CHARITABLE CONT', 'RESTAURANT', 'RX',
       'PROD-WHS SALES', 'MEAT-WHSE', 'DAIRY DELI', 'CHEF SHOPPE', 'HBC',
       'DELI/SNACK BAR', 'PORK', 'AUTOMOTIVE', 'VIDEO RENTAL', ' ',
       'CNTRL/STORE SUP', 'HOUSEWARES', 'POSTAL CENTER', 'PHOTO', 'VIDEO',
       'PHARMACY SUPPLY'], dtype=object)

In [9]:
item_features['commodity_desc'].unique()

array(['FRZN ICE', 'NO COMMODITY DESCRIPTION', 'BREAD',
       'FRUIT - SHELF STABLE', 'COOKIES/CONES', 'SPICES & EXTRACTS',
       'VITAMINS', 'BREAKFAST SWEETS', 'PNT BTR/JELLY/JAMS',
       'ICE CREAM/MILK/SHERBTS', 'MAGAZINE', 'AIR CARE', 'CHEESE',
       'SHORTENING/OIL', 'COFFEE', 'DIETARY AID PRODUCTS',
       'PAPER HOUSEWARES', 'BAKED BREAD/BUNS/ROLLS',
       'VEGETABLES - SHELF STABLE', 'HISPANIC', 'DINNER MXS:DRY',
       'CONDIMENTS/SAUCES', 'FRZN VEGETABLE/VEG DSH', 'BAKING NEEDS',
       'DINNER SAUSAGE', 'FRZN FRUITS', 'SEAFOOD - FROZEN',
       'HOUSEHOLD CLEANG NEEDS', 'FD WRAPS/BAGS/TRSH BG',
       'DRY MIX DESSERTS', 'PICKLE/RELISH/PKLD VEG', 'CAKES',
       'BAKING MIXES', 'POTATOES', 'FLUID MILK PRODUCTS', 'SOUP',
       'BAKED SWEET GOODS', 'COOKIES', 'DRY BN/VEG/POTATO/RICE',
       'FACIAL TISS/DNR NAPKIN', 'FROZEN PIZZA', 'EGGS',
       'REFRGRATD DOUGH PRODUCTS', 'HOT CEREAL', 'COLD CEREAL',
       'SUGARS/SWEETNERS', 'SEAFOOD - SHELF STABLE', 'POPCORN',
       'CANNED JUICES', 'STATIONERY & SCHOOL SUPPLIES', 'COLD AND FLU',
       'BABY HBC', 'BAG SNACKS', 'BEANS - CANNED GLASS & MW',
       'FROZEN MEAT', 'SOAP - LIQUID & BAR', 'ROLLS',
       'NON-DAIRY BEVERAGES', 'KITCHEN GADGETS', 'CRACKERS/MISC BKD FD',
       'CONVENIENT BRKFST/WHLSM SNACKS', 'CHIPS&SNACKS',
       'CANDY - PACKAGED', 'SOFT DRINKS', 'HAIR CARE PRODUCTS',
       'CANDY - CHECKLANE', 'BUTTER', 'FRZN MEAT/MEAT DINNERS',
       'SHAVING CARE PRODUCTS', 'WATER - CARBONATED/FLVRD DRINK',
       'FRZN BREAKFAST FOODS', 'MILK BY-PRODUCTS', 'FIRST AID PRODUCTS',
       'NEWSPAPER', 'SALADS/DIPS', 'INSECTICIDES',
       'ORGANICS FRUIT & VEGETABLES', 'ELECTRICAL SUPPPLIES',
       'LAUNDRY DETERGENTS', 'JUICE', 'ISOTONIC DRINKS',
       'FRZN JCE CONC/DRNKS', 'LAUNDRY ADDITIVES',
       'IRONING AND CHEMICALS', 'TEAS', 'DRY NOODLES/PASTA',
       'PASTA SAUCE', 'PROCESSED', 'MAKEUP AND TREATMENT', 'ANALGESICS',
       'HOSIERY/SOCKS', 'CAT FOOD', 'BATTERIES',
       'MOLASSES/SYRUP/PANCAKE MIXS', 'BOOKSTORE', 'BATH TISSUES',
       'FROZEN PIE/DESSERTS', 'MEAT - SHELF STABLE', 'MEAT - MISC',
       'SPRING/SUMMER SEASONAL', 'LUNCHMEAT',
       'BREAKFAST SAUSAGE/SANDWICHES', 'DRIED FRUIT',
       'CHARCOAL AND LIGHTER FLUID', 'SALD DRSNG/SNDWCH SPRD', 'LIQUOR',
       'FROZEN BREAD/DOUGH', 'HAND/BODY/FACIAL PRODUCTS', 'SNACK NUTS',
       'ORAL HYGIENE PRODUCTS', 'BEERS/ALES', 'INFANT FORMULA',
       'REFRGRATD JUICES/DRNKS', 'YOGURT', 'DEODORANTS', 'BACON',
       'DOG FOODS', 'FRZN NOVELTIES/WTR ICE', 'FEMININE HYGIENE',
       'COFFEE FILTERS', 'BROOMS AND MOPS',
       'GREETING CARDS/WRAP/PARTY SPLY', 'WAREHOUSE SNACKS',
       'DRY SAUCES/GRAVY', 'MARGARINES', 'PWDR/CRYSTL DRNK MX', 'OLIVES',
       'MISC. DAIRY', 'COCOA MIXES', 'SALAD MIX', 'HARDWARE SUPPLIES',
       'HOT DOGS', 'FLOUR & MEALS', 'SYRUPS/TOPPINGS', 'ANTACIDS',
       'BLEACH', 'PAPER TOWELS', 'STONE FRUIT', 'MELONS', 'BERRIES',
       'CHICKEN', 'SANDWICHES', 'GRAPES', 'CARROTS', 'APPLES', 'HERBS',
       'CIGARETTES', 'HEAT/SERVE', 'BABY FOODS', 'SQUASH',
       'VEGETABLES - ALL OTHERS', 'DELI MEATS', 'BEEF', 'FRZN POTATOES',
       'CORN', 'CHEESES', 'MISCELLANEOUS', 'CITRUS', 'FROZEN',
       'DISHWASH DETERGENTS', 'SWEET GOODS & SNACKS', 'NUTS',
       'TROPICAL FRUIT', 'CHICKEN/POULTRY', 'BROCCOLI/CAULIFLOWER',
       'SINUS AND ALLERGY', 'MUSHROOMS', 'CANNED MILK', 'ONIONS',
       'INFANT CARE PRODUCTS', 'TURKEY', 'WATER', 'CAT LITTER',
       'SEAFOOD-FRESH', 'PIES', 'TOBACCO OTHER', 'SEAFOOD - MISC',
       'FILM AND CAMERA PRODUCTS', 'PEPPERS-ALL', 'PLASTIC HOUSEWARES',
       'FOOT CARE PRODUCTS', 'SHOE CARE', 'FIREWORKS',
       'FLORAL-FLOWERING PLANTS', 'SUNTAN', 'CEREAL/BREAKFAST',
       'CANDLES/ACCESSORIES', 'COOKWARE & BAKEWARE',
       'DISPOSIBLE FOILWARE', 'FLORAL-FRESH CUT', 'VEGETABLES SALAD',
       'AUDIO/VIDEO PRODUCTS', 'REFRIGERATED', 'FROZEN CHICKEN',
       'SMOKED MEATS', 'VALUE ADDED VEGETABLES',
       'EYE AND EAR CARE PRODUCTS', 'SNKS/CKYS/CRKR/CNDY',
       'FLORAL BALLOONS', 'AUTOMOTIVE PRODUCTS', 'LAXATIVES',
       'DOMESTIC WINE', 'MISC WINE', 'OVERNIGHT PHOTOFINISHING',
       'TOMATOES', 'PEARS', 'FITNESS&DIET', 'BATH', 'COUPON/MISC ITEMS',
       'PORK', 'PERSONAL CARE APPLIANCES', 'CONDIMENTS', 'BEVERAGE',
       'SNACKS', 'VALUE ADDED FRUIT', 'SALAD BAR',
       'HAIR CARE ACCESSORIES', 'DIAPERS & DISPOSABLES',
       'SMOKING CESSATIONS', 'FUEL', 'PREPARED FOOD', 'PET CARE SUPPLIES',
       'COFFEE SHOP', 'COUPON', '(CORP USE ONLY)', 'ROSES',
       'PROD SUPPLIES', 'J-HOOKS', 'RICE CAKES', 'LAMB', 'IMPORTED WINE',
       'UNKNOWN', 'DELI SPECIALTIES (RETAIL PK)', 'PREPARED/PKGD FOODS',
       'FAMILY PLANNING', 'EASTER', 'CIGARS', 'PACKAGED NATURAL SNACKS',
       'FLORAL-FOLIAGE PLANTS', 'MISCELLANEOUS CROUTONS',
       'COUPONS/STORE & MFG', 'APPAREL', 'PREPAID WIRELESS&ACCESSORIES',
       'HOME FREEZING & CANNING SUPPLY', 'IN-STORE PHOTOFINISHING',
       'ADULT INCONTINENCE', 'PARTY TRAYS', 'DOMESTIC GOODS',
       'FALL AND WINTER SEASONAL', 'TOYS AND GAMES',
       'LAWN AND GARDEN SHOP', 'GLASSWARE & DINNERWARE', 'BAKING',
       'RESTRICTED DIET', 'FRAGRANCES', 'HALLOWEEN', 'BAKERY PARTY TRAYS',
       'SEWING', 'NATURAL HBC', 'BIRD SEED', 'GARDEN CENTER',
       'COSMETIC ACCESSORIES', 'ETHNIC PERSONAL CARE',
       'GLASSES/VISION AIDS', 'FLORAL- HARD GOODS', 'BABYFOOD', 'TOYS',
       'CHRISTMAS  SEASONAL', 'COFFEE SHOP SWEET GOODS&RETAIL',
       'DRY TEA/COFFEE/COCO MIX', 'VEAL', 'CONTINUITIES',
       'PORTABLE ELECTRIC APPLIANCES', 'VALENTINE',
       'FROZEN - BOXED(GROCERY)', 'SERVICE BEVERAGE',
       'GIFT & FRUIT BASKETS', 'SUSHI', 'PROPANE', 'FRZN SEAFOOD',
       'HOME FURNISHINGS', 'PHARMACY', 'NATURAL VITAMINS',
       'DELI SUPPLIES', 'WATCHES/CALCULATORS/LOBBY', 'SEASONAL',
       'BOUQUET (NON ROSE)', 'HOME HEALTH CARE',
       'RW FRESH PROCESSED MEAT', 'EXOTIC GAME/FOWL',
       'NDAIRY/TEAS/JUICE/SOD', 'TICKETS', 'MEAT SUPPLIES', 'NEW AGE',
       'FLORAL-ACCESSORIES', 'EASTER LILY', 'MISCELLANEOUS HBC',
       'BULK FOODS', 'NON EDIBLE PRODUCTS', 'QUICK SERVICE',
       'BOTTLE DEPOSITS', ' ', 'DOLLAR VALUE PRODUCTS',
       'MISCELLANEOUS(CORP USE ONLY)', 'SPORTS MEMORABLILIA',
       'LONG DISTANCE CALLING CARDS', 'PKG.SEAFOOD MISC',
       'FROZEN PACKAGE MEAT'], dtype=object)

In [10]:
user_features.head(2)

,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc,user_id
0,65+,A,35-49K,Homeowner,2 Adults No Kids,2,None/Unknown,1
1,45-54,A,50-74K,Homeowner,2 Adults No Kids,2,None/Unknown,7

In [11]:
user_features['age_desc'].unique()

array(['65+', '45-54', '25-34', '35-44', '19-24', '55-64'], dtype=object)

In [12]:
user_features['marital_status_code'].unique()

array(['A', 'U', 'B'], dtype=object)

In [13]:
user_features['hh_comp_desc'].unique()

array(['2 Adults No Kids', '2 Adults Kids', 'Single Female', 'Unknown',
       'Single Male', '1 Adult Kids'], dtype=object)

## 1. Filter items

In [ ]:
#n_items_before = data_train['item_id'].nunique()

#data_train = prefilter_items(data_train)

#n_items_after = data_train['item_id'].nunique()
#print('Decreased # items from {} to {}'.format(n_items_before, n_items_after))

Decreased # items from 86865 to 5001

In [ ]:
#data_test = prefilter_items(data_test)

## 2. Prepare data set

In [14]:
# Заведем фиктивный item_id (если юзер покупал товары из топ-5000, то он "купил" такой товар)
# filter non top-5000
popularity = data_train.groupby('item_id')['quantity'].sum().reset_index()
popularity.rename(columns={'quantity': 'n_sold'}, inplace=True)
top_5000 = popularity.sort_values('n_sold', ascending=False).head(5000).item_id.tolist()
data_train.loc[~data_train['item_id'].isin(top_5000), 'item_id'] = 999999

user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробоват ьдругие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

# переведем в формат sparse matrix
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(2)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

item_id,202291,397896,420647,480014,545926,707683,731106,818980,819063,819227,...,15778533,15831255,15926712,15926775,15926844,15926886,15927403,15927661,15927850,16809471
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
data_test = data_test[data_test['item_id'].isin(data_train['item_id'].unique())]
test_user_item_matrix = pd.pivot_table(data_test, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробоват ьдругие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

test_user_item_matrix = test_user_item_matrix.astype(float)
sparse_user_item_test = csr_matrix(test_user_item_matrix).tocsr()

In [16]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

## 3. Prepare user and item features

In [17]:
user_item_matrix.index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            2491, 2492, 2493, 2494, 2495, 2496, 2497, 2498, 2499, 2500],
           dtype='int64', name='user_id', length=2499)

In [18]:
user_features.head()

,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc,user_id
0,65+,A,35-49K,Homeowner,2 Adults No Kids,2,None/Unknown,1
1,45-54,A,50-74K,Homeowner,2 Adults No Kids,2,None/Unknown,7
2,25-34,U,25-34K,Unknown,2 Adults Kids,3,1,8
3,25-34,U,75-99K,Homeowner,2 Adults Kids,4,2,13
4,45-54,B,50-74K,Homeowner,Single Female,1,None/Unknown,16

In [19]:
user_feat = pd.DataFrame(user_item_matrix.index)
user_feat = user_feat.merge(user_features, on='user_id', how='left')
user_feat.set_index('user_id', inplace=True)

item_feat = pd.DataFrame(user_item_matrix.columns)
item_feat = item_feat.merge(item_features, on='item_id', how='left')
item_feat.set_index('item_id', inplace=True)

user_feat.head(2)

,age_desc,marital_status_code,income_desc,homeowner_desc,hh_comp_desc,household_size_desc,kid_category_desc
user_id,,,,,,,
1,65+,A,35-49K,Homeowner,2 Adults No Kids,2,None/Unknown
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
user_feat['age_desc'].unique()

array(['65+', nan, '45-54', '25-34', '35-44', '19-24', '55-64'],
      dtype=object)

In [21]:
user_feat['marital_status_code'].unique()

array(['A', nan, 'U', 'B'], dtype=object)

In [22]:
user_feat['hh_comp_desc'].unique()

array(['2 Adults No Kids', nan, '2 Adults Kids', 'Single Female',
       'Unknown', 'Single Male', '1 Adult Kids'], dtype=object)

In [23]:
user_feat_lightfm = pd.get_dummies(user_feat, columns=user_feat.columns.tolist())
item_feat_lightfm = pd.get_dummies(item_feat, columns=item_feat.columns.tolist())

In [24]:
user_feat_lightfm.head(2)

,age_desc_19-24,age_desc_25-34,age_desc_35-44,age_desc_45-54,age_desc_55-64,age_desc_65+,marital_status_code_A,marital_status_code_B,marital_status_code_U,income_desc_100-124K,...,hh_comp_desc_Unknown,household_size_desc_1,household_size_desc_2,household_size_desc_3,household_size_desc_4,household_size_desc_5+,kid_category_desc_1,kid_category_desc_2,kid_category_desc_3+,kid_category_desc_None/Unknown
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,1,1,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
item_feat_lightfm.head()

,manufacturer_2.0,manufacturer_5.0,manufacturer_10.0,manufacturer_16.0,manufacturer_35.0,manufacturer_36.0,manufacturer_42.0,manufacturer_43.0,manufacturer_58.0,manufacturer_61.0,...,curr_size_of_product_L 5.5OZ,curr_size_of_product_L .15 OZ,curr_size_of_product_L 7.75 OZ,curr_size_of_product_L 13.25 OZ,curr_size_of_product_LTR,curr_size_of_product_N 12 OZ,curr_size_of_product_N 5.4 OZ,curr_size_of_product_PINT,curr_size_of_product_PK,curr_size_of_product_PT
item_id,,,,,,,,,,,,,,,,,,,,,
202291,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
397896,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
420647,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
480014,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
545926,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
model = LightFM(no_components=10,
                loss='warp', # 'bpr'
                learning_rate=0.05, 
                item_alpha=0.1, # смещение по товару
                user_alpha=0.1, 
                random_state=42)

model.fit((sparse_user_item > 0) * 1,  # user-item matrix из 0 и 1
          sample_weight=coo_matrix(user_item_matrix),
          user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
          item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
          epochs=15)

**logistic**: useful when both positive (1) and negative (-1) interactions are present.
**BPR**: Bayesian Personalised Ranking 1 pairwise loss. Maximises the prediction difference between a positive example and a randomly chosen negative example. Useful when only positive interactions are present and optimising ROC AUC is desired.
**WARP**: Weighted Approximate-Rank Pairwise [2] loss. Maximises the rank of positive examples by repeatedly sampling negative examples until rank violating one is found. Useful when only positive interactions are present and optimising the top of the recommendation list (precision@k) is desired.
**k-OS WARP**: k-th order statistic loss [3]. A modification of WARP that uses the k-the positive example for any given user as a basis for pairwise updates.

In [48]:
user_biases_emb = model.get_user_representations(
    features=csr_matrix(user_feat_lightfm.values).tocsr()
)

In [49]:
item_biases_emb = model.get_item_representations(
    features=csr_matrix(item_feat_lightfm.values).tocsr()
)

Зачем мы снова передаем фичи пользователей? Ведь модель уже обучилась на них

Ответ - для передачи новых значений фичей $f_k$. Эмбеддинги мы действительно уже зафиксировали.

In [29]:
len(user_biases_emb)

2

In [30]:
user_biases_emb[0].shape

(2499,)

по 1 числу для каждого пользователя $b_u$

In [32]:
user_biases_emb[1].shape

(2499, 10)

In [33]:
item_biases_emb[1].shape

(5001, 10)

In [34]:
item_biases_emb[0].shape

(5001,)

тк no_components = 10

In [50]:
train_precision = pr(model, sparse_user_item, 
                                 user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                                 item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                                 k=5).mean()

In [51]:
train_precision

0.5335735

In [52]:
test_precision = pr(model, sparse_user_item_test, 
                                 user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                                 item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                                 k=5).mean()

In [53]:
test_precision

0.0032421476

In [39]:
test_item_ids = np.arange(len(itemids))

predictions = model.predict(user_ids=6, item_ids=test_item_ids,
                            user_features=csr_matrix(user_feat_lightfm.values).tocsr(),
                            item_features=csr_matrix(item_feat_lightfm.values).tocsr(),
                            num_threads=4)

In [41]:
test_item_ids

array([   0,    1,    2, ..., 4998, 4999, 5000])

In [42]:
np.sort(predictions)[::-1]

array([-25.758617, -27.860142, -27.899235, ..., -30.056046, -30.056768,
       -30.0712  ], dtype=float32)

predictions - некоторые числа.

# 2. Ранжирование

### 2.1 BPR - Bayesian Personalized Ranking loss
*Юзер фиксирован!*

$$loss = \sigma(p^{-} - p^{+})$$

1. Случайная пара user - купленный им $item_i$ = позитивная пара
2. Для того же юзера сэмплируем $item_j$ (не купил или вес в user-item матрице ниже, у $item_i$ из 1.) - негативная пара
3. Прогнозы модели $p^{+}$, $p^{-}$ --> $p^{-} - p^{+}$
4. loss = $\sigma(p^{-} - p^{+})$ - это и есть наша ошибка
5. Обновляем эмбеддинги

### 2.2 WARP = Weighted Approximate-Rank Pairwise loss
Неплохое [объяснение](https://medium.com/@gabrieltseng/intro-to-warp-loss-automatic-differentiation-and-pytorch-b6aa5083187a) на игрушечном примере

$$loss = ln(\frac{K-1}{N})*(p^+ - p^-)$$

1. Сэмплируем случайную позитивную пару юзер-item, прогноз модели для этой пары $p^+$
2. Сэмплируем далее до тех пор, пока не найдем негативную пару, гдe прогнозная вероятность вероятность $p^-$ > $p^+$
3. K - кол-во сэмплирований (зависит от качества модели!)
4. N - общее количество рекомендаций

**Note**  
loss зависит только от 2ух сэмплированных пар, эмбеддинги только для этих пар будут обновлены

In [ ]:
# Пример 1
p_plus = 4.3  # true = 1
p_neg_1 = -2.3 # true = 0
p_neg_2 = 4.5  # true = 0
4.5 > 4.3 

loss(random_seed) = [ln(3-1) / 10 * (4.3 - 4.5)]

# Пример 2 
p_plus = 4.3  # true = 1
p_neg_1 = -2.3 
p_neg_2 = 0.5
p_neg_3 = -0.5
p_neg_4 = 2.1
p_neg_5 = 4.5

loss(random_seed) = [ln(6-1) / 10 * (4.5 - 4.3)]

SyntaxError: can't assign to function call (<ipython-input-9-3fc09503fd5e>, line 6)

In [43]:
from math import log
(log(3-1) / 10) * (4.3 - 4.5)

-0.013862943611198917

In [45]:
(log(6-1) / 10) * (4.3 -4.5)

-0.03218875824868203

https://arxiv.org/pdf/1205.2618

https://towardsdatascience.com/recommender-system-using-bayesian-personalized-ranking-d30e98bba0b9

https://making.lyst.com/lightfm/docs/examples/warp_loss.html

http://webia.lip6.fr/~gallinar/gallinari/uploads/Teaching/WSDM2014-rendle.pdf

https://www.microsoft.com/en-us/research/wp-content/uploads/2005/08/icml_ranking.pdf

### Зачем нужно ранжирование? Есть же классификация (предсказание 0 и 1)
- Ранжирование гораздо лучше выбирает топ-k товаров, особенно когда k велико
- Ранжирование позволяет напрямую ранжировать 5 релевантных юзеру товаров (какой из 5 поставить выше?)

НО:
- **При ранжировании невозможно использовать предсказание как вероятность**